# Zadanie 1

## Utwórz kopię pliku na swoim dysku google. Zmień nazwę na R_Zadanie_1_imię_nazwisko.jpynb

Analiza dotyczy zbioru danych, który zawiera informacje na temat batonów czekoladowych.\
Zmiennne:
* nazwa firmy produkującej batony czekoladowe
* pochodzenie ziaren kakaowych lub nazwa batonu
* numer referencyjny
* rok przeglądu
* procentowa zawartość kako w czekoladzie
* lokalizacja firmy produkującej czekoladę
* ocena batonu czekoladowego
* pochodzenie ziaren kakaowca

System oceny smaków kakao:\
5= Elita (Przekraczanie poza zwykłe granice)\
4= Premium (Doskonały rozwój smaku, charakteru i stylu)\
3 = zadowalający (3,0) do godnego pochwały (3,75) (dobrze wykonany, o specjalnych właściwościach)\
2= Rozczarowujący (Zadowalający, ale zawiera co najmniej jedną istotną wadę)\
1= Nieprzyjemny (przeważnie niesmaczny)\
REF – wartość powiązana z datą wprowadzenia recenzji do bazy danych. Wyższy = nowszy.

##Wczytaj zbiór danych znajdujący sie pod adresem:
https://raw.githubusercontent.com/clauswilke/dviz.supp/master/data-raw/cacao/flavors_of_cacao.csv

In [ ]:
read.csv("https://raw.githubusercontent.com/clauswilke/dviz.supp/master/data-raw/cacao/flavors_of_cacao.csv")

## Zaimportuj pakiet Tidiverse

In [2]:
library(tidyverse)

## Przygotowanie danych

Wczytaj dane zmieniając nazwy kolumn na:\
'Company', 'Specific_Bean_Origin_or_Bar_Name', 'REF','Review_Date', 'Cocoa_Percentage', 'Company_Location','Rating', 'Bean_Type', 'Broad_Bean_Origin'

In [3]:
url = "https://raw.githubusercontent.com/clauswilke/dviz.supp/master/data-raw/cacao/flavors_of_cacao.csv"
df <- read_csv(url,
               col_names = c("Company","Specific_Bean_Origin_or_Bar_Name","REF","Review_Date","Cocoa_Percentage","Company_Location","Rating","Bean_Type","Broad_Bean_Origin"),
               skip=1,
               show_col_types = FALSE)

head(df, 1)

  Company  Specific_Bean_Origin_or_Bar_Name REF  Review_Date Cocoa_Percentage
1 A. Morin Agua Grande                      1876 2016        63%
  Company_Location Rating Bean_Type Broad_Bean_Origin
1 France           3.75             Sao Tome

Wyświtl "kształt" zbioru - liczba wierszy i kolumn

In [4]:
nrow(df) # wiersze
ncol(df) # kolumny

[1] 1795

[1] 9

Wyświetl strukturę zbioru danych (nazwy zmiennych
, typ danych, ...)

In [5]:
str(df)

spc_tbl_ [1,795 × 9] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ Company                         : chr [1:1795] "A. Morin" "A. Morin" "A. Morin" "A. Morin" ...
 $ Specific_Bean_Origin_or_Bar_Name: chr [1:1795] "Agua Grande" "Kpime" "Atsane" "Akata" ...
 $ REF                             : num [1:1795] 1876 1676 1676 1680 1704 ...
 $ Review_Date                     : num [1:1795] 2016 2015 2015 2015 2015 ...
 $ Cocoa_Percentage                : chr [1:1795] "63%" "70%" "70%" "70%" ...
 $ Company_Location                : chr [1:1795] "France" "France" "France" "France" ...
 $ Rating                          : num [1:1795] 3.75 2.75 3 3.5 3.5 2.75 3.5 3.5 3.75 4 ...
 $ Bean_Type                       : chr [1:1795] " " " " " " " " ...
 $ Broad_Bean_Origin               : chr [1:1795] "Sao Tome" "Togo" "Togo" "Togo" ...
 - attr(*, "spec")=
  .. cols(
  ..   Company = col_character(),
  ..   Specific_Bean_Origin_or_Bar_Name = col_character(),
  ..   REF = col_double(),
  ..   Review_Date = col_double(),
  ..   Cocoa_Percentage = col_character(),
  ..   Company_Location = col_character(),
  ..   Rating = col_double(),
  ..   Bean_Type = col_character(),
  ..   Broad_Bean_Origin = col_character()
  .. )
 - attr(*, "problems")=<externalptr>

Usuń znak "%" w zmiennej procent Cocoa_Percentage - ustaw odpowiednio typ danej

In [6]:
df$Cocoa_Percentage <- as.numeric(gsub("%", "", df$Cocoa_Percentage))

head(df, 1)

  Company  Specific_Bean_Origin_or_Bar_Name REF  Review_Date Cocoa_Percentage
1 A. Morin Agua Grande                      1876 2016        63
  Company_Location Rating Bean_Type Broad_Bean_Origin
1 France           3.75             Sao Tome

Sprawdź ile jest braków w zbiorze danych

In [7]:
na_count_per_column <- sapply(df, function(x) sum(is.na(x)))

total_na_count <- sum(na_count_per_column)

total_na_count

[1] 2

Wyświetl nazwy kolumn, w których występują braki

In [8]:
columns_with_na <- names(na_count_per_column)[na_count_per_column > 0]
columns_with_na

[1] "Bean_Type"         "Broad_Bean_Origin"

Usun cały wiersz, dla którego zmienna Broad_Bean_Origin zawiera brakujące dane

In [9]:
df_cleaned <- df[!is.na(df$Broad_Bean_Origin), ]

Wykonaj tabelę liczności dla zmiennej Bean_Type

In [10]:
bean_type_table <- table(df$Bean_Type)
bean_type_table

                                           Amazon               Amazon mix
                     887                        1                        2
             Amazon, ICS                  Beniano                    Blend
                       2                        3                       41
 Blend-Forastero,Criollo                    CCN51                  Criollo
                       1                        1                      153
        Criollo (Amarru)     Criollo (Ocumare 61)     Criollo (Ocumare 67)
                       2                        2                        1
    Criollo (Ocumare 77)        Criollo (Ocumare)      Criollo (Porcelana)
                       1                        1                       10
          Criollo (Wild)               Criollo, +       Criollo, Forastero
                       1                        1                        2
     Criollo, Trinitario                      EET                Forastero
                      39                        3                       87
   Forastero (Amelonado)       Forastero (Arriba)   Forastero (Arriba) ASS
                       1                       37                        6
 Forastero (Arriba) ASSS      Forastero (Catongo)     Forastero (Nacional)
                       1                        2                       52
   Forastero (Parazinho)   Forastero(Arriba, CCN)    Forastero, Trinitario
                       8                        1                        1
                  Matina                 Nacional        Nacional (Arriba)
                       3                        2                        3
              Trinitario Trinitario (85% Criollo)   Trinitario (Amelonado)
                     419                        2                        1
    Trinitario (Scavina)      Trinitario, Criollo    Trinitario, Forastero
                       1                        9                        2
    Trinitario, Nacional         Trinitario, TCGA
                       1                        1

Spróbuj wyfiltrowac "puste" komórki dla zmiennej Bean_Type i zamienić je na NA

In [11]:
df$Bean_Type <- ifelse(df$Bean_Type == " " | df$Bean_Type == ""  | grepl("^\\s*$", df$Bean_Type), NA, df$Bean_Type)

#niestety nie działa

na_count_per_column <- sapply(df, function(x) sum(is.na(x)))

total_na_count <- sum(na_count_per_column)

total_na_count

[1] 2

Usuń kolumnę Bean_Type

In [12]:
df$Bean_Type <- NULL

head(df, 1)

  Company  Specific_Bean_Origin_or_Bar_Name REF  Review_Date Cocoa_Percentage
1 A. Morin Agua Grande                      1876 2016        63
  Company_Location Rating Broad_Bean_Origin
1 France           3.75   Sao Tome

Dodaj do ramki danych nową kolumnę, która będzie zawierała informajce czy dana czekolada jest gorzka czy nie? W tym celu wykorzystaj zmienną Cocoa_Percentage.

In [13]:
df$is_bitter <- df$Cocoa_Percentage > 70
head(df, 35)

   Company            Specific_Bean_Origin_or_Bar_Name         REF  Review_Date
1  A. Morin           Agua Grande                              1876 2016
2  A. Morin           Kpime                                    1676 2015
3  A. Morin           Atsane                                   1676 2015
4  A. Morin           Akata                                    1680 2015
5  A. Morin           Quilla                                   1704 2015
6  A. Morin           Carenero                                 1315 2014
7  A. Morin           Cuba                                     1315 2014
8  A. Morin           Sur del Lago                             1315 2014
9  A. Morin           Puerto Cabello                           1319 2014
10 A. Morin           Pablino                                  1319 2014
11 A. Morin           Panama                                   1011 2013
12 A. Morin           Madagascar                               1011 2013
13 A. Morin           Brazil                                   1011 2013
14 A. Morin           Equateur                                 1011 2013
15 A. Morin           Colombie                                 1015 2013
16 A. Morin           Birmanie                                 1015 2013
17 A. Morin           Papua New Guinea                         1015 2013
18 A. Morin           Chuao                                    1015 2013
19 A. Morin           Piura                                    1019 2013
20 A. Morin           Chanchamayo Province                     1019 2013
21 A. Morin           Chanchamayo Province                     1019 2013
22 A. Morin           Bolivia                                   797 2012
23 A. Morin           Peru                                      797 2012
24 Acalli             Chulucanas, El Platanal                  1462 2015
25 Acalli             Tumbes, Norandino                        1470 2015
26 Adi                Vanua Levu                                705 2011
27 Adi                Vanua Levu, Toto-A                        705 2011
28 Adi                Vanua Levu                                705 2011
29 Adi                Vanua Levu, Ami-Ami-CA                    705 2011
30 Aequare (Gianduja) Los Rios, Quevedo, Arriba                 370 2009
31 Aequare (Gianduja) Los Rios, Quevedo, Arriba                 370 2009
32 Ah Cacao           Tabasco                                   316 2009
33 Akesson's (Pralus) Bali (west), Sukrama Family, Melaya area  636 2011
34 Akesson's (Pralus) Madagascar, Ambolikapiky P.               502 2010
35 Akesson's (Pralus) Monte Alegre, D. Badero                   508 2010
   Cocoa_Percentage Company_Location Rating Broad_Bean_Origin is_bitter
1  63               France           3.75   Sao Tome          FALSE
2  70               France           2.75   Togo              FALSE
3  70               France           3.00   Togo              FALSE
4  70               France           3.50   Togo              FALSE
5  70               France           3.50   Peru              FALSE
6  70               France           2.75   Venezuela         FALSE
7  70               France           3.50   Cuba              FALSE
8  70               France           3.50   Venezuela         FALSE
9  70               France           3.75   Venezuela         FALSE
10 70               France           4.00   Peru              FALSE
11 70               France           2.75   Panama            FALSE
12 70               France           3.00   Madagascar        FALSE
13 70               France           3.25   Brazil            FALSE
14 70               France           3.75   Ecuador           FALSE
15 70               France           2.75   Colombia          FALSE
16 70               France           3.00   Burma             FALSE
17 70               France           3.25   Papua New Guinea  FALSE
18 70               France           4.00   Venezuela         FALSE
19 70               France           3.25   Peru              FALSE
20 70               France           3.50   Peru              FALSE
21 63               France           4.00   Peru              FALSE
22 70               France           3.50   Bolivia           FALSE
23 63               France           3.75   Peru              FALSE
24 70               U.S.A.           3.75   Peru              FALSE
25 70               U.S.A.           3.75   Peru              FALSE
26 60               Fiji             2.75   Fiji              FALSE
27 80               Fiji             3.25   Fiji               TRUE
28 88               Fiji             3.50   Fiji               TRUE
29 72               Fiji             3.50   Fiji               TRUE
30 55               Ecuador          2.75   Ecuador           FALSE
31 70               Ecuador          3.00   Ecuador           FALSE
32 70               Mexico           3.00   Mexico            FALSE
33 75               Switzerland      3.75   Indonesia          TRUE
34 75               Switzerland      2.75   Madagascar         TRUE
35 75               Switzerland      2.75   Brazil             TRUE

## Zapisywanie plików

Wyczyszczoną ramkę danych zapisz do pliku csv o nazw new_cocoa_imie_nazwisko.csv. Pobierz plik na dysk i dołącz do zadania na upel razem z plikiem zaiwerającym wszystkie przeprowadzone analizy (R_Zadanie_1_imię_nazwisko.jpynb)

In [14]:
write.csv(df, "new_cocoa_dominik_sieron.csv", row.names = FALSE)